# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go exit -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/shortener/main
cmd/shortener/shortener

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

# project shit
/cmd/shortener/shortener.txt
/cmd/shortener/shortener_user.txt
/cmd/shortener/audit_income.txt
/cmd/audit_echo/audit_echo
/cmd/shortener/income_audit.log
/cmd/shortener/income-audit.log
*.pprof
/cmd/staticlint/staticlint
/cmd/shortener/shortener_conf.json
/cmd/shortener/shortener2.txt
